*{
	margin: 0px;
	padding: 0px;

}
body{
	height: 100vh;
}
.cabeza{
	width: 100%;
	height: 6%;
	background: red;
	display: flex;
	align-items: center;
	justify-content: center;
}
.data{
	background: white;
	width: 100%;
	height: 88%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.nav{
	background: #FBF0F0;
	width: 80%;
	height: 50px;
	border: 1px solid #C8C5C5;
	border-radius: 10px;
	margin-top: 20px;
	display: flex;

}
.nav_left{
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_mid{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_right{
	width: 10%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav input[type=button]{
	width: 80%;
	height: 70%;
	border-radius: 10px;
	border: 1px solid #C8C5C5;
	background-color: #FFC4C4;
	cursor: pointer;
}
.info{
	background: #FBF0F0;
	width: 80%;
	height: 85%;
	border: 1px solid #C8C5C5;
	border-radius: 10px;
}

iframe{
	width: 100%;
	height: 100%;
	border-style: none;
	border-radius: 10px;
}

footer{
	background: white;
   	width: 100%;
   	height: 6%;
   	display: flex;
   	align-items: center;
}

footer a{
	margin: 10px;
	color: #666666;
}
footer a:link{
	text-decoration: none;
	color: #666666;
}
.vinculo{
	cursor: pointer;
}
#proyecto{
	background-color: #B0AAA6;
}
#proyecto:hover{
	background-color: red;
}
/******************************************************/
/* menu */

#menu ul {
 list-style:none;
 margin:0;
 padding:0;
}

/* items del menu */

#menu ul li {
 background-color:#FBF0F0;
 width: 500px;
 text-align: center;
 position:relative;
 float:left;
 margin:0;
 padding:0;
}
#menu ul li h1{
font-size:42px;
}
/* enlaces del menu */

#menu ul a {
 display:block;
 color:black;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
 background:#F90E0E;

}
/* menu desplegable */

#menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:20%;
 background:#eee;
 padding:0;
}

/* items del menu desplegable */

#menu ul ul li {
 float:none;
 width: 300px;
 text-align: center;
 border-bottom: 1px solid;
 border-left: 1px solid;
 border-right: 1px solid;
 color: #C8C5C5;
}
#menu ul ul li:hover {
	border: 1px solid #857F7F;

}
/* enlaces de los items del menu desplegable */

#menu ul ul a {
 line-height:120%;
 padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
 display:block;

}
/*menu responsive*/
@media screen and (max-width: 700px){

#menu ul li {
 width: 300px;
}

#menu ul ul {
left: 0%;
}

}
@media screen and (max-width: 500px){

.cabeza{
	font-size: small;
}

footer a{
	font-size: 12px;
}

#menu ul li {
 width: 250px;
}

#menu ul ul li {
 width: 250px;
}
}